##
# rename this file to .env
##

PORT = 4000
PAGE_SIZE = 10

# increment before each commit
# API_RELEASE = 1

# TOKENS
TOKEN_ACCESS_EXP = '10m'
TOKEN_ACCESS_SECRET = 'access_secret_key'

TOKEN_REFRESH_EXP = '60m'
TOKEN_REFRESH_SECRET = 'refresh_secret_key'

TOKEN_RESET_PASSWORD_EXP = '12h'
TOKEN_RESET_PASSWORD_SECRET = 'reset_password_secret_key'

TOKEN_EMAIL_CONFIRM_EXP = '30d'
TOKEN_EMAIL_CONFIRM_SECRET = 'email_confirm_secret_key'

# DB
DB_HOST = 'localhost'
DB_PORT = 5432
DB_USER = 'user'
DB_PASSWORD = ''
DB_NAME = 'super_db'
DB_CHARSET = 'utf8'

# EMAIL SERVICE
MAILGUN_API_KEY = ''
MAILGUN_DOMAIN = ''
EMAIL_FROM = 'Supra Team <support@supra.com>'
EMAIL_TO_TEST = 'hello@gmail.com'
