{
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "extends": "standard",
  "root": true,
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "object-curly-spacing": ["error", "always"],
    "key-spacing": ["error", {"afterColon": true}],
    "no-multi-spaces": "error"
  }
}

