{
  "extends": "standard",
  "commonjs": true,
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "object-curly-spacing": ["error", "always"],
    "key-spacing": ["error", {"afterColon": true}],
    "no-multi-spaces": "error"
  },
  "globals": {
    "__rootdir": true,
    "__typecheck": true
}
}

